# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/

# Alembic
alembic/versions/*.pyc

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# pytest
.pytest_cache/
.coverage
htmlcov/
